@charset "UTF-8";
$font-regular: 'Barlow Condensed', sans-serif;
$bg-primary: #e5dcd3;
// $bg-secondary: #6cb8ca;
$white: #ffffff;
$black: #000000;
$primary: #D15071;
$secondary: #DE73A3;
$green: #246664;

@mixin text {
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-weight: inherit;
    line-height: inherit;
  }

@mixin img {
    margin: 0 auto;
    display: block;
    max-width: 100%;
  }

#es-rc #es-rc-content {
    font-family: $font-regular;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.2;
    max-width: 982px;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    color: #000;
    background: #fff;

    * {
        box-sizing: border-box;
    }

    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 0;
    }

    p {
        margin: 0;
    }

    img {
        max-width: 100%;
        display: block;
        margin: 0 auto;
    }

    .es-title {
        color: $primary;
        text-align: center;
        text-transform: uppercase;
        font-size: 34px;

        font-weight: 400;
        text-wrap: balance;
    }

    .es-title--big {
        font-size: 105px;
    }

    .es-title--bold {
        font-weight: 700;
    }

    .es-desc {
        font-size: 45px;
        color: $primary;
        text-align: center;
        padding-block: 16px 16px;
        line-height: 90%;
    }

    @media (min-width: 768px) {

        .es-desc {
            font-size: 28px;
            margin-block: 0 16px;
            padding-top: 0;
        }
    }

    @media (min-width: 1024px) {
        .es-title {
            font-size: 60px;
        }

        .es-desc {
            font-size: 40px;
            margin-block: 24px 16px;
        }
    }

    // .es-video {
    //     position: relative;
    //     min-height: 600px;
    //     background-image: url('https://www.ros.net.pl/Portals/0/rich-content/maybelline/3600531700379/img/video.png');
    //     background-size: auto;
    //     background-position: center;
    //     background-repeat: no-repeat;

    //     iframe {
    //         border: 0;
    //         position: absolute;
    //         top: 0;
    //         left: 0;
    //         width: 100%;
    //         height: 100%;
    //     }
         
    // }

    .es-kv {       
        &__left {
            position: relative;
        }

        &__bg {
            width: 200%;
        }

        &__headline {
            position: absolute;
            z-index: 1;
            transform: translateX(-50%);
            bottom: 5%;
            left: 50%;
            color: $white;
            font-family: "Barlow Condensed", sans-serif;
            text-transform: uppercase;
            text-align: center;
            width: max-content;
            line-height: 40px;
        }

        &__headline--top {
            font-weight: 600;
            font-size: clamp(2.5rem, 1.495rem + 5.5446vw, 6rem);
        }

        &__headline--bottom {
            font-weight: 400;
            font-size: clamp(1.6875rem, 1.0953rem + 3.2673vw, 3.75rem);
        }

        &__packshot {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            background-image: url(https://www.ros.net.pl/Portals/0/rich-content/maybelline/3600531700379/img/section-3-clear.jpg);
            background-size: cover;
            background-position: right;
        }

        &__packshot--bg {
            width: 100%;
            object-fit: cover;
        }

        &__packshot--packCtn {
            position: absolute;
            width: 100%;
            height: 90%;
            padding: 24px 32px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 24px;
        }

        &__packshot--logo {
            width: 70%;
            max-width: 300px;
            padding-top: 66%;
            padding-inline: 8px;
            filter: drop-shadow(2px 4px 20px black);
        }
    }

    @media (min-width: 576px) {
        .es-kv {
            display: flex;
            position: relative;
            justify-content: space-between;

            &__left {
                width: 50%;
            }

            &__headline {
                left: 65%;
                line-height: 55px;
            }

            &__headline--top {
                // font-size: 70px;
            }
    
            &__headline--bottom {
                // font-size: 50px;
            }

            &__packshot {
                width: 40%;
                margin: 0 16px;
                background-image: none;
            }
            &__packshot--bg{
                width: 80%;
            }
        }
    }

    @media (min-width: 768px) {
        .es-kv {
            &__headline {
                line-height: 65px;
            }

            &__headline--top {
                // font-size: 90px;
            }

            &__headline--bottom {
                // font-size: 70px;
            }
        }
    }

    .swiper,
    .swiper-wrapper,
    .swiper-slide {
        width: 100%;
        aspect-ratio: 16 / 16;
    }

    @media (min-width: 768px) {
        .swiper,
        .swiper-wrapper,
        .swiper-slide {
            aspect-ratio: 16 / 8;
        }
    }

    .swiper-pagination-bullet {
        width: 8px;
        height: 8px;
        display: inline-block;
        border-radius: 50%;
        background: $white;
        opacity: 50%;
    }

    .swiper-pagination-bullet:not(:last-child) {
        margin-right: 6px;
    }

    .swiper-pagination-bullet-active {
        opacity: 1;
        background: $white;
    }

    .swiper-button-disabled {
        display: none;
    }
    
    .swiper-button-next:after,
    .swiper-button-prev:after {
        display: none;
    }

    .swiper-button-next img {
        transform: rotate(-180deg);
    }

    @keyframes es-rc-zoom {
        0% {
            scale: 1;
        }
        100% {
            scale: 1.2;
        }
    }

    .es-hero {
        background-image: url('https://www.ros.net.pl/Portals/0/rich-content/maybelline/3600531700379/img/section-2.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: right center;

        height: 100vw;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        &__content {
            position: relative;
            z-index: 1;
            padding: 1rem;
            text-align: center;
            color: $primary;
        }

        &__title {
            font-size: clamp(2rem, 1.5285rem + 2.6012vw, 3.125rem);
            font-weight: 500;
            margin-bottom: 10px;
            text-transform: uppercase;
        }

        &__subtitle {
            font-size: clamp(2.5rem, 1.7142rem + 4.3353vw, 4.375rem);
            font-weight: 700;
            text-transform: uppercase;
        }
    }

    @media (min-width: 500px) {
        .es-hero {
            &__title {
                font-size: 60px;
            }
    
            &__subtitle {
                font-size: 70px;
            }
        }
    }
    @media (min-width: 768px) {
        .es-hero {
            background-position: center center;
            max-height: 600px;
            justify-content: flex-end; 
      
            &__content {
                max-width: 55%;    
                padding: 2rem;

            }
            &__title {
                font-size: 52px;
            }
    
            &__subtitle {
                font-size: 65px;
            }
        }
    }

    @media (min-width: 1024px) {
        .es-hero {  
            &__content {
                max-width: 48%;    
            }
            &__title {
                font-size: clamp(2rem, 1.5285rem + 2.6012vw, 3.125rem);
            }
    
            &__subtitle {
                font-size: clamp(2.5rem, 1.7142rem + 4.3353vw, 4.375rem);
            }
        }
    }

    .es-features {
        
        background: url('https://www.ros.net.pl/Portals/0/rich-content/maybelline/3600531700379/img/section-3-clear.jpg') no-repeat center center/cover;

        &__wrapper {
            position: relative;
            z-index: 1;
        }

        &__single {
            padding-bottom: 60px;
            text-align: center;
            position: relative;

            .es-features__image {
                display: block;
                width: 100%;
                // max-width: 300px;
                max-width: 450px;
                margin: 0 auto;
                position: relative;
                z-index: 1;    
                border-radius: 30px;   
            }
        
            .es-title {
                font-size: 50px;
            }

            .es-features__text {
                margin-top: 1rem;
                font-size: 1rem;
                position: relative;
                z-index: 3;
            }
        }

        &__stripe {
            display: none;
        }

    }

    @media (min-width: 768px) {
        .es-features {
            padding: 0rem 1rem;
            background: url('https://www.ros.net.pl/Portals/0/rich-content/maybelline/3600531700379/img/section-3.jpg') no-repeat center center/cover;
        
            &__wrapper {
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                padding: 0;
            }
        
            &__single {
                flex: 1;
                margin: 0 1rem;
                padding-bottom: 0;
                
                .es-title {
                    font-size: 35px;
                }

                .es-title--big {
                    font-size: 50px;
                }

                .es-features__image {
                    max-width: 100%;
                }
            }
        
            &__stripe {
                display: block;
                position: absolute;
                top: 10%;
                left: -50%;
                width: 200%;
                height: 100%;
                line-height: 4rem;
                background: url('https://www.ros.net.pl/Portals/0/rich-content/maybelline/3600531700379/img/stripe.png') no-repeat center center;
                z-index: 2;
                pointer-events: none;
            }
        }
    }

    @media (min-width: 1024px) {
        .es-features {
        
            &__single {

                .es-title {
                    font-size: 53px;
                }

                .es-title--big {
                    font-size: 80px;
                }

                .es-desc {
                    margin-top: 0;
                }

            }
        }
    }

    .es-slider {
        &__inner {
            background-image: url('https://www.ros.net.pl/Portals/0/rich-content/maybelline/3600531700379/img/section-4-clear.jpg');
            background-size: cover;
            background-position: center;
        }
      
        &--mobile { display: block; }
        &--desktop { display: none; }
      
        @media (min-width: 768px) {
            &--mobile { display: none; }
            &--desktop { display: block; }
        }

        &__title {
            font-size: clamp(2rem, 1.4975rem + 2.7723vw, 3.75rem);
            font-weight: 500;
            margin-bottom: 10px;
            text-transform: uppercase;
        }

        &__subtitle {
            font-size: clamp(2.5rem, 1.7822rem + 3.9604vw, 5rem);
            font-weight: 700;
            text-transform: uppercase;
        }
      
    }
      
    .slider__slide--before,
    .slider__slide--after {
        padding: 0;
        position: relative;
        font-size: clamp(1.25rem, 0.1883rem + 5.8577vw, 3rem);
        font-weight: 600;

        img { 
            width: 100%;
            border-radius: 30px;
            border: 5px solid $primary;
        }

        .slider__slide--text-1 {
            position: absolute;
            bottom: 10%;
            left: 5%;
            margin: 0;
            padding: 0;
            font-family: inherit;
            line-height: inherit;
            text-transform: uppercase;
            color: $white;
            z-index: 1;  
        }

        .slider__slide--text-2 {
            position: absolute;
            bottom: 10%;
            right: 10%;
            margin: 0;
            padding: 0;
            font-family: inherit;
            line-height: inherit;
            text-transform: uppercase;
            color: $white;
            z-index: 1; 
        }

    }
      
    .slider__slide--text-mobile {
        display: flex;
        justify-content: center;
        align-items: center;
        
        .slide-text {
            text-align: center;
            color: $primary;

            & > * {
                filter: drop-shadow(2px 4px 20px white);
            }

            .es-slider__title {
                font-size: clamp(2.5rem, 1.7822rem + 3.9604vw, 5rem);
                font-weight: 700;
                text-transform: uppercase;
            }
    
            .es-slider__subtitle {
                font-size: clamp(2rem, 1.4975rem + 2.7723vw, 3.75rem);
                font-weight: 700;
                text-transform: uppercase;
            }
        }
    }
      
    .slider__slide--ba-combined {
        .ba {
            display: flex;    
            position: relative; 
            padding: 16px;
            font-size: clamp(1.5625rem, 0.7271rem + 1.7405vw, 2.25rem);
            font-weight: 600;

            .ba__item {

                flex: 1;

                &:nth-child(1){
                    img {
                        border-top-left-radius: 30px;
                        border-bottom-left-radius: 30px;
                        border-right-width: 2.5px;
                    }
                }

                &:nth-child(2){
                    img {
                        border-top-right-radius: 30px;
                        border-bottom-right-radius: 30px;
                        border-left-width: 2.5px;
                        background-color: #ffffff;
                    }
                }

                img { 
                    display: block; 
                    width: 100%; 
                    border: 5px solid $secondary;
                }

                & + & { 
                    margin-left: 8px;
                }

                &--text-1 {
                    position: absolute;
                    bottom: 7%;
                    left: 5%;
                    margin: 0;
                    padding: 0;
                    font-family: inherit;
                    text-transform: uppercase;
                    color: $white;
                    z-index: 1; 
                }

                &--text-2 {
                    position: absolute;
                    bottom: 7%;
                    right: 7%;
                    margin: 0;
                    padding: 0;
                    font-family: inherit;
                    text-transform: uppercase;
                    color: $white;
                    z-index: 1; 
                }
            }
        }
    }
      
    .slider__slide--model {
        .model-wrapper {
            position: relative;
            display: flex;
            width: 100%;
            height: 100%;
        }
      
        .slide-text {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            text-align: center;
            padding-left: 2rem;
            box-sizing: border-box;
            color: $primary;
            z-index: 1;

            & > * {
                filter: drop-shadow(2px 4px 20px white);
            }
          

            .es-slider__title {
                margin-top: 0;
                font-size: clamp(2rem, 1.168rem + 4.5902vw, 5rem);
                font-weight: 700;
                text-transform: uppercase;
                width: 60%;
            }
    
            .es-slider__subtitle {
                font-size: clamp(1.5rem, 0.876rem + 3.4426vw, 3.5rem);
                font-weight: 700;
                text-transform: uppercase;
                width: 60%;
            }
        
        }
      
        .model-face {
            position: absolute;
            bottom: 0;
            right: -10%;
            width: auto;
            height: 100%; 
            z-index: 2;
        }
      
        .stripe-up {
            position: absolute;
            top: 5%;
            left: -50%;
            width: 200%;
            height: auto;
            z-index: 0;
        }
      
        .stripe-down {
            position: absolute;
            bottom: 6%;
            left: -56%;
            width: 200%; 
            height: auto;
            max-height: 100%;
            z-index: 0;
        }
    }

    .es-results {
        position: relative;
        padding: 30px 20px;
        padding-top: 20px;
        text-transform: uppercase;
        color: $green;
        text-align: center;
        background: #F296C2;
        background: linear-gradient(180deg, rgba(242, 150, 194, 1) 0%, rgba(255, 255, 255, 0.9) 51%, rgba(200, 230, 232, 1) 81%);
  
        .es-results__img {
          @include img;
          border-radius: 30px;
        }
  
        .es-results__bg {
          display: none;
        }
        .es-results__img--mobile {
          padding: 25px 0;
        }
  
        &__title {
          padding: 20px 0;
          font-size: 40px;
          font-weight: 700;
          line-height: 1;
          color: $white;
        }
  
        &__text-big {
          @include text;
          font-size: 30px;
          font-weight: 700;
          line-height: 1;
        }
  
        &__text-small {
          @include text;
          font-size: 20px;
          text-transform: none;
        }
  
        &__text--pink {
          color: $primary;
        }
  
    }
    @media screen and (min-width: 768px) {
        .es-results {
            background-image: url("https://www.ros.net.pl/Portals/0/rich-content/maybelline/3600531700379/img/section-4-clear.jpg"); 
            background-size: cover;
            background-repeat: no-repeat;
            padding: 16px;
            z-index: 0;
            position: relative;
    
            .es-results__img--mobile {
              display: none
            }
    
            .es-results__bg {
              display: block
            }
    
            &__title {
              padding: unset;
              font-size: 45px;
              position: absolute;
              bottom: 35%;
              left: 10%;
            }
    
            &__text-big {
              font-size: 35px;
            }
    
            &__text-small {
              font-size: 25px;
            }
    
            &__text--pink {
              color: $primary;
              position: absolute;
              top: 10%;
              left: 30%
            }
    
            &__text--green {
              position: absolute;
              top: 10%;
              right: 4%;
            }
        }
    }

    @media screen and (min-width: 925px) {
        .es-results {
            &__title {
              font-size: 50px;
            }
    
            &__text-big {
              font-size: 40px;
            }
    
            &__text-small {
              font-size: 25px;
            }
    
          }
    }

    .es-cross {
        padding: 60px 16px 16px 16px;

        &__disclaimer {
            padding-top: 60px;
            text-align: center;
        }
    }

    .es-cross__header {
        text-align: center;
        text-transform: uppercase;
        font-weight: 700;

        .es-title {
            color: $black;
        }
    }

    .es-cross__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 32px 8px;
        margin-top: 32px;
    }
    .es-cross__single {
        max-width: 300px;
        display: flex;
        align-items: center;
        flex-flow: column;
        color: $black;
    }
    .es-cross__single a {
        display: flex;
        justify-content: center;
    }
    .es-cross__single:hover .es-cross__img {
        transform: scale(1.05);
    }
    .es-cross__single:hover .es-cross__link {
        text-decoration: underline;
    }
    .es-cross__packshot {
        margin-bottom: 16px;
        padding-bottom: 16px;
        width: 100%;
    }
    .es-cross__img {
        max-height: 100%;
        transition: all 0.3s;
        margin: 0 auto;
        display: inline;
        max-width: none;
    }
    .es-cross__name {
        line-height: inherit;
        font-size: 24px;
        text-transform: uppercase;
        font-family: "Barlow Condensed", sans-serif;
        text-align: center;
        margin-bottom: 8px;
        font-weight: 400;
    }
    .es-cross__desc {
        text-align: center;
        font-size: 18px;
        margin-bottom: 32px;
    }
    .es-cross__link {
        margin: 0;
        line-height: 35px;
        font-size: 20px;
        background: $black;
        color: $white;
        text-decoration: none;
        padding: 16px 40px;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
        display: inline-block;
        transition: color 0.3s;
        width: 100%;
    }

    

    @media (min-width: 768px) {
        .es-cross {
            position: relative;
        }

        .es-cross__container {
            flex-direction: row;
            justify-content: center;
            align-items: flex-end;
            gap: 32px 16px;
            margin-top: 36px;
        }

        .es-cross__single {
            min-width: 230px;
            width: 30%;
        }

        .es-cross__desc {
            height: 7em;
        }
    }
    
    @media (min-width: 1300px) {
        .es-cross__single {
            min-width: 350px;
        }

        .es-cross__name {
            font-size: 30px;
        }

        .es-cross__desc {
            font-size: 16px;
        }
    }

    .es-footer {
        background-color: $black;
        padding: 24px;
    }

}
